asyncpg
bcrypt
cryptography
fastapi
fastapi-sessions
fastapi-sse
greenlet
jinja2
langchain
langchain_openai
motor
passlib
pydantic
pydantic-settings
pydantic[email]
pyjwt
pymupdf4llm
python-dotenv
python-jose
python-multipart
qdrant-client
redis
scikit-learn
uvicorn
