asyncpg
bcrypt
cryptography
fastapi
fastapi-sessions
fastapi-sse
greenlet
jinja2
langchain
langchain_openai
motor
pydantic
python-jose
pydantic[email]
pydantic-settings
pymupdf4llm
pyjwt
python-dotenv
python-multipart
passlib
qdrant-client
redis
scikit-learn
uvicorn